# Input 
PT1_EMPIRICAL/corpora/*

# Output
PT1_EMPIRICAL/output/main/*
PT1_EMPIRICAL/output/hom_two_plus/*
PT1_EMPIRICAL/output/cl_two_plus/*

PT2_SIMULATION/output/data/sims/*

# Settings
__pycache__

# Misc files
PT1_EMPIRICAL/output.zip